
body {
    font-family: 'Rock Salt', cursive;
}

span {
    font-style: italic;
}

#game{
<<<<<<< HEAD
    font-family: 'Schoolbell', cursive;     
}
=======
 font-family: 'Schoolbell', cursive;

}
>>>>>>> 48b91b1b71a30fb609e837aded36148f14978693
